APP_NAME=REKLE
ENVIRONMENT=development
DEBUG=True

# Local Docker: 
DATABASE_URL=postgresql+psycopg2://postgres:password@db:5432/rekle_db
# Supabase: postgresql+psycopg2://postgres:[PASSWORD]@db.hzsvfbemofchyfirreci.supabase.co:5432/postgres

SECRET_KEY=your-secret-key-here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=7

ALLOWED_ORIGINS=https://rekle.vercel.app,http://localhost:5173
ML_MODEL_PATH=app/ml/REKLE_MobileNetV2_Final.keras

UPLOAD_DIR=uploads
MAX_UPLOAD_SIZE_MB=10